<%= content_for :banner do %>
  <div role="banner" id="banner">
    <div class="intro">
      <h1>Build your own 3D cards.</h1>
      <p>Get easy to understand pop-up card designs from &pound;3</p>
    </div>
  </div>
<% end %>
